<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAPFCVLlhctV_oLmu_9Ud14CB3jRqyM1Ds</string>
	<key>GCM_SENDER_ID</key>
	<string>1055966629396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.krsxisherePortfolio</string>
	<key>PROJECT_ID</key>
	<string>portfolio-krsxishere</string>
	<key>STORAGE_BUCKET</key>
	<string>portfolio-krsxishere.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1055966629396:ios:932212c910de1b0e6fe101</string>
</dict>
</plist>